@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 11% 17%;
    --foreground: 0 0% 98%;
    --card: 240 11% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 240 11% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 11% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 217 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 11% 25%;
    --input: 240 11% 25%;
    --ring: 217 100% 50%;
    --chart-1: 217 100% 50%;
    --chart-2: 276 100% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;

    --sidebar-background: 240 11% 14%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 276 100% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 11% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 11% 25%;
    --sidebar-ring: 217 100% 50%;
  }

  .dark {
    --background: 240 11% 17%;
    --foreground: 0 0% 98%;
    --card: 240 11% 22%;
    --card-foreground: 0 0% 98%;
    --popover: 240 11% 17%;
    --popover-foreground: 0 0% 98%;
    --primary: 276 100% 60%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 11% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 217 100% 50%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 11% 25%;
    --input: 240 11% 25%;
    --ring: 217 100% 50%;
    --chart-1: 217 100% 50%;
    --chart-2: 276 100% 60%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    --sidebar-background: 240 11% 14%;
    --sidebar-foreground: 0 0% 85%;
    --sidebar-primary: 276 100% 60%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 11% 20%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 240 11% 25%;
    --sidebar-ring: 217 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
